.bg-custom {
    background-image: url('../../public/media/Ristorante.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.title {
    color: rgb(247, 247, 247);
    font-weight: 500;
}
.header-custom {
    height: 50vh;
}